@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --preferdark, cupcake, luxury, lofi, fantasy;
}

.tituloIndex {
  font-size: 48px;
  font-weight: 300;
}

.extraSpace {
  padding: 32px;
}